<div class="page">
    <h1 class="page-header">Contact Us</h1>

    <div class="page-section">
        <p class="page-text-section">
            <strong>Email:</strong>
            &nbsp;For all enquiries please email&nbsp;
            <strong>
                <a href="mailto:support@skinnymetea.com.au">support@skinnymetea.com.au</a>
            </strong>
            &nbsp;and our team will be back to you ASAP
        </p>

        <p class="page-text-section">
            Please note that all address changes and order cancellations must be within 2 hours of purchase.
            The&nbsp;subject line must read "CHANGE OF ADDRESS" or "CANCEL ORDER".&nbsp;If your email is not titled
            correctly your request will not be processed.&nbsp;
        </p>

        <p class="page-text-section">
            <strong>Phone Number:</strong><span>&nbsp;</span>+61432648461 (Please leave a message with your full name and order number and enquiry)&nbsp;
        </p>

        <p class="page-text-section">
            <strong>Business Address:</strong><span>&nbsp;Level 1 Suite 2, 104 Dover Street, Cremorne, VIC 3121</span>&nbsp;(this is not a physical store)&nbsp;
        </p>

        <p class="page-text-section">Our trading hours are from 9 am to 5 pm (AEDT)&nbsp;</p>
    </div>
</div>
