.bounding-line {
    position: absolute;
    background-color: rgb(223, 223, 223);

    .bounding-line-edge {
        position: absolute;
        background-color: rgb(223, 223, 223);
    }
}

.top-bounding-line {
    height: 2px;

    .bounding-line-edge {
        height: 12px;
        width: 2px;
    }

    .left-edge {
        left: 0;
        top: -5px;
    }

    .right-edge {
        right: 0;
        top: -5px;
    }

    .bounding-line-size {
        left: calc(50% - 35px);
        top: -20px;
        position: absolute;
        width: 70px;
        text-align: center;
    }
}

.left-bounding-line {
    width: 2px;

    .bounding-line-edge {
        height: 2px;
        width: 12px;
    }

    .top-edge {
        left: -5px;
        top: 0;
    }

    .bottom-edge {
        right: -5px;
        bottom: 0;
    }

    .bounding-line-size {
        top: calc(50% - 20px);
        left: -35px;
        position: absolute;
        height: 40px;
        text-align: center;
        padding-right: 10px;
    }
}
