.home-image {
    height: 700px;
    display: flex;
    align-items: center;
    background-image: url("/assets/home-image.webp");
    background-position: center center;
    background-size: cover;
}
