<div class="home-page-banner row">
</div>

<div class="page row">
    <div class="page-section products-section">
        <h2 class="page-section-title">Available products</h2>

        <div class="product-container">
            <div class="product-image">
                <img src="/assets/organizer.jpg" alt="product type">
            </div>

            <div class="product-details-block">
                <h3 class="product-title">
                    Why Minimotors Electric Scooters?
                </h3>

                <div class="product-details">
                    Dualtron Electric Scooters represent the highest quality electric scooters you can find
                    today.&nbsp; They are the best built, most capable, and have the longest range in the
                </div>

                <button class="more-products-button default-submit-button" routerLink="/designer" [queryParams]="{'expandedGroupName': 'Squeezeboxes'}">More products</button>
            </div>
        </div>

        <div class="product-container">
            <div class="product-image">
                <img src="/assets/organizer.jpg" alt="product type">
            </div>

            <div class="product-details-block">
                <h3 class="product-title">
                    Why Minimotors Electric Scooters?
                </h3>

                <div class="product-details">
                    Dualtron Electric Scooters represent the highest quality electric scooters you can find
                    today.&nbsp; They are the best built, most capable, and have the longest range in the
                </div>

                <button class="more-products-button default-submit-button" routerLink="/designer" [queryParams]="{'expandedGroupName': 'Grids'}">More products</button>
            </div>
        </div>

        <div class="product-container">
            <div class="product-image">
                <img src="/assets/organizer.jpg" alt="product type">
            </div>

            <div class="product-details-block">
                <h3 class="product-title">
                    Why Minimotors Electric Scooters?
                </h3>

                <div class="product-details">
                    Dualtron Electric Scooters represent the highest quality electric scooters you can find
                    today.&nbsp; They are the best built, most capable, and have the longest range in the
                </div>

                <button class="more-products-button default-submit-button" routerLink="/designer" [queryParams]="{'expandedGroupName': 'Grids'}">More products</button>
            </div>
        </div>

        <div class="product-container">
            <div class="product-image">
                <img src="/assets/organizer.jpg" alt="product type">
            </div>

            <div class="product-details-block">
                <h3 class="product-title">
                    Why Minimotors Electric Scooters?
                </h3>

                <div class="product-details">
                    Dualtron Electric Scooters represent the highest quality electric scooters you can find
                    today.&nbsp; They are the best built, most capable, and have the longest range in the
                </div>

                <button class="more-products-button default-submit-button" routerLink="/designer" [queryParams]="{'expandedGroupName': 'Grids'}">More products</button>
            </div>
        </div>
    </div>

    <div class="page-section design-items-section">
        <h2 class="page-section-title">Start by selecting a resume template design</h2>

        <swiper [config]="config" class="carousel">
            <div class="swiper-wrapper">
                <img class="swiper-slide" *ngFor="let img of images" [src]="img" alt="swiper image" />
            </div>

            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </swiper>
    </div>
</div>
