@import "variables.scss";

.home-page-banner {
    height: 700px;
    display: flex;
    align-items: center;
    background-image: url("/assets/home-image.webp");
    background-position: center center;
    background-size: cover;
}

.page {
    padding-top: 0;

    .page-section {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.products-section {
    .product-container{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: $group-field-bottom-padding;
        min-height: 500px;

        .product-details-block {
            flex: 50%;
            padding: 0 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .product-title {
                margin-bottom: $group-field-bottom-padding;
                font-size: $menu-font-size;
                font-weight: $page-title-font-weight;
            }

            .product-details {
                margin-bottom: $group-field-bottom-padding;
                text-align: center;
            }

            .more-products-button {
                margin-top: $defaul-container-block-margin;
            }
        }

        .product-image {
            display: flex;
            flex: 50%;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
            }
        }

        &:nth-child(2n) {
            flex-direction: row-reverse;
        }
    }
}

.design-items-section {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;

    .carousel {
        .swiper-button-next, .swiper-button-prev {
            color: $gray1-color;
        }

        ::ng-deep .swiper-pagination-bullet {
            background-color: $gray1-color;
        }

        .swiper-button-disabled {
            display: none;
        }
    }
}

@media (max-width: 767px) {
    .products-section .product-container {
        .product-details-block {
            padding: 0;

            .product-details {
                margin-bottom: $defaul-container-block-margin;
            }
        }

        .product-image {
            margin-bottom: $defaul-container-block-margin;

            img {
                max-height: 400px;
                width: auto;
            }
        }

        .product-details-block, .product-image {
            flex: 100%;
        }
    }
}
