$gray1-color: rgb(223, 223, 223);
$gray-text-color: gray;
$main-color: #673ab7;
$green-color: #32A727;
$black-color: #7D7D91;
$black-title-color: #46364b;
$gray-background-color: #fafafa;
$gray-border-color: #ebebeb;

$small-side-margin: 8px;
$big-side-margin: 16px;

$defaul-bottom-margin: 5px;
$group-bottom-margin: 20px;

$button-padding: 0 2rem;
$header-text-padding: 15px 5px;
$group-block-padding: 25px;
$group-field-bottom-padding: 20px;

$big-font-weight: 700;
$page-title-font-weight: 600;
$small-font-weight: 400;

$default-font-size: 14px;
$bigger-font-size: 16px;
$menu-font-size: 20px;
$title-font-size: 24px;
$page-title-font-size: 36px;
