<div class="designer">
    <div class="header">
        <h2 class="title">Designer</h2>
        <div class="options">
            <input class="option" type="number" placeholder="height">
            <input class="option" type="number" placeholder="width">
        </div>
    </div>

    <div class="tray">
        <div class="layout-wrapper">
            <div class="layout" #layoutDropZone cdkDropList (cdkDropListDropped)="dropOnLayout($event)" #layoutList="cdkDropList" [cdkDropListConnectedTo]="[itemsList]">
                <div class="item layout-item" *ngFor="let item of layoutItems; let i = index" #layoutItem cdkDragBoundary=".tray" cdkDrag [cdkDragData]="item"
                    [style.top]="item.top" [style.left]="item.left" [style.z-index]="i" (mousedown)="onMouseDown($event, layoutItem)" (cdkDragMoved)="moved($event)">

                    <img class="item-image" [src]="item.image" [alt]="item.alt">

                    <ng-container class="item layout-item" *cdkDragPlaceholder></ng-container>
                </div>
            </div>
        </div>

        <div class="items" cdkDropList #itemsList="cdkDropList" [cdkDropListConnectedTo]="[layoutList]" (cdkDropListDropped)="dropOnItemsList($event)" id="items-drop-list">
            <div class="item-block" *ngFor="let item of listItems">
                <div #listItem cdkDragBoundary=".tray" cdkDrag [cdkDragData]="item" (cdkDragMoved)="moved($event)"
                    (mousedown)="onMouseDown($event, listItem)" (cdkDragStarted)="dragStarted(listItem)" (cdkDragDropped)="dragStopped()">

                    <img class="item-image" [src]="item.image" [alt]="item.alt">

                    <ng-container class="item layout-item" *cdkDragPlaceholder></ng-container>
                </div>

                <div *ngIf="draggingItem == listItem" >
                    <img class="item-image" [src]="item.image" [alt]="item.alt">
                </div>

                <span class="item-title">Cell block</span>
            </div>
        </div>
    </div>
</div>
