.designer {
    padding: 10px;

    .header {
        display: flex;
        align-items: center;
        margin-bottom: 5px;

        .title {
            margin-bottom: 0;
        }

        .options {
            margin-left: auto;

            .option {
                margin-left: 5px;
                margin-right: 5px;
            }
        }
    }

    .tray {
        display: flex;
        position: relative;

        .layout-wrapper {
            width: 80%;

            .layout {
                min-height: 600px;
                height: 100%;
                position: relative;
                border: 1px solid silver;

                .layout-block {
                    height: 250px;
                    background-color: beige;
                    border: 1px solid white;
                }

                .layout-item {
                    position: absolute;
                    z-index: 1;
                    transform: none !important;
                }
            }
        }

        .items {
            width: 20%;
            display: flex;
            flex-direction: column;
            padding: 0 0 0 10px
        }
    }
}

.item-block {
    display: flex;
    flex-direction: column;
    border: 1px solid silver;
    margin-bottom: 15px;

    .item-title {
        text-align: center;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.item-image {
    width: 250px;
    height: 250px;
}
