<div class="page">
    <h1 class="page-header">FAQ</h1>

    <div class="page-section">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Question 1
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="page-section">
                    This is the primary content of the panel.
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Question 2
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="page-section">
                    This is the primary content of the panel.
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Question 3
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="page-section">
                    This is the primary content of the panel.
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Question 4
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="page-section">
                    This is the primary content of the panel.
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Question 5
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="page-section">
                    This is the primary content of the panel.
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Question 6
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="page-section">
                    This is the primary content of the panel.
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Question 1
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="page-section">
                    This is the primary content of the panel.
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Question 2
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="page-section">
                    This is the primary content of the panel.
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Question 3
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="page-section">
                    This is the primary content of the panel.
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Question 4
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="page-section">
                    This is the primary content of the panel.
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Question 5
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="page-section">
                    This is the primary content of the panel.
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Question 6
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="page-section">
                    This is the primary content of the panel.
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
