<div class="page">
    <h1 class="page-header">About Us</h1>

    <div class="page-section">
        <p class="page-text-section">
            SkinnyMe Tea(SMT) is an Australian based company whose mission is to help
            people like you achieve their health and wellness goals.&nbsp;&nbsp;
        </p>

        <p class="page-text-section">
            Founded in 2012. Gretta started the business from her home in Melbourne, combining her passion&nbsp;
            for tea and detoxing into a single product, creating the world’s first ‘Teatox’.&nbsp;<br>The&nbsp;popular
            &nbsp;two-step&nbsp;program combines a Morning and Evening Cleanse products as well as Eating and Exercise
            tips to achieve the results you have been looking for* All of our products are Made in Australia from the
            highest quality herb and extracts.&nbsp;
        </p>
        <p class="page-text-section">
            The team of health professionals in nutrition, naturopathy, and&nbsp;exercise&nbsp;are&nbsp;here to
            provide the support you need. We are proud to have assisted over 350,000 people just like you to achieve
            their health goals, and it is success stories such as these that motivate our team to provide the best
            product and service possible to make sure you do too.&nbsp;&nbsp;
        </p>
        <p class="page-text-section">
            <img class="page-image" src="assets/about-us.webp" alt="about us">
        </p>
    </div>
</div>
