@import "variables.scss";

.order-form {
    max-width: 1500px;

    .page-section {
        flex-direction: row;
        align-items: unset;
        display: flex;
        width: 100%;
    }

    .group-header {
        font-weight: $page-title-font-weight;
        align-items: center;
        display: flex;
        margin-bottom: $defaul-bottom-margin;
        font-size: $menu-font-size;

        .group-image {
            width: 16px;
            margin-right: $small-side-margin;
        }
    }

    .group-information {
        padding: $group-block-padding;
        border: 1px solid $gray1-color;
        margin-bottom: $group-bottom-margin;

        mat-radio-group {
            padding-bottom: $group-field-bottom-padding;
            display: flex;
            justify-content: space-evenly;
        }

        mat-form-field {
            width: 100%;
        }
    }
}

.user-information {
    width: 48%;

    .delivery-title {
        display: flex;
        padding-bottom: $group-field-bottom-padding;

        img {
            width: 36px;
            height: 36px;
            margin-right: $small-side-margin;
        }

        .delivery-title-text {
            display: flex;
            flex-direction: column;

            .delivery-price {
                color: $gray-text-color;
                font-size: $default-font-size;
            }
        }
    }
}

.order-confirmation {
    width: 48%;
    margin-left: 4%;

    .order-review {
        .group-information {
            display: flex;
            flex-wrap: wrap;
        }

        .order-item {
            display: flex;
            margin-bottom: $group-bottom-margin;
            flex: 50%;

            .item-image-block {
                width: 100px;

                .item-image {
                    height: 70px;
                    margin-right: $small-side-margin;
                }
            }

            .item-data {
                display: flex;
                flex-direction: column;
                align-items: baseline;
                margin-left: 10px;

                span {
                    margin-bottom: $defaul-bottom-margin;
                }

                .item-name {
                    font-size: $default-font-size;
                    font-weight: $small-font-weight;
                }

                .item-quantity {
                    color: $gray-text-color;
                }

                .item-price {
                    font-weight: $big-font-weight;
                }
            }
        }
    }

    .order-creation {
        .payment-type-group {
            .payment-type {
                font-size: $bigger-font-size;
                font-weight: $big-font-weight;
                margin-bottom: 10px;
            }
        }

        .order-confirmation-text {
            > div {
                display: flex;
                justify-content: space-between;
                margin-bottom: $defaul-bottom-margin;
            }

            .delivery-details {
                font-weight: $small-font-weight;
            }

            .discount-details {
                color: $green-color;
            }

            .summary-details {
                font-weight: $big-font-weight;
            }
        }

        .confirm-order-button {
            margin-top: 10px;
        }
    }
}

#payment-form {
    display: none;
}

::ng-deep {
    .settlement-short-type {
        margin-right: $small-side-margin;
    }

    .mat-option.warehouse-option {
        overflow: initial;

        .mat-option-text {
            overflow: initial;
            text-overflow: unset;
        }
    }
}
