@import "variables.scss";

.order-form {
    display: flex;

    .group-header {
        font-weight: $big-font-weight;
        align-items: center;
        display: flex;
        margin-bottom: $defaul-bottom-margin;

        .group-image {
            width: 16px;
            margin-right: $small-side-margin;
        }
    }

    .group-information {
        padding: $group-block-padding;
        border: 1px solid $gray1-color;
        margin-bottom: $group-bottom-margin;

        mat-radio-group {
            padding-bottom: $group-field-bottom-padding;
            display: flex;
            justify-content: space-evenly;
        }

        mat-form-field {
            width: 100%;
        }
    }
}

.user-information {
    width: 48%;

    .delivery-title {
        display: flex;
        padding-bottom: $group-field-bottom-padding;

        img {
            width: 36px;
            height: 36px;
            margin-right: $small-side-margin;
        }

        .delivery-title-text {
            display: flex;
            flex-direction: column;

            .delivery-price {
                color: $gray-text-color;
                font-size: $default-font-size;
            }
        }
    }
}

.order-confirmation {
    width: 48%;
    margin-left: 4%;

    .group-information {
        display: flex;
        flex-wrap: wrap;
    }

    .order-item {
        display: flex;
        margin-bottom: $group-bottom-margin;
        flex: 50%;

        .item-image {
            height: 70px;
            max-width: 180px;
            margin-right: $small-side-margin;
        }

        .item-data {
            display: flex;
            flex-direction: column;

            span {
                margin-bottom: $defaul-bottom-margin;
            }

            .item-name {
                font-size: $default-font-size;
                font-weight: $small-font-weight;
            }

            .item-quantity {
                color: $gray-text-color;
            }

            .item-price {
                font-weight: $big-font-weight;
            }
        }
    }
}

::ng-deep {
    .settlement-short-type {
        margin-right: $small-side-margin;
    }

    .mat-option.warehouse-option {
        overflow: initial;

        .mat-option-text {
            overflow: initial;
            text-overflow: unset;
        }
    }
}
